<!-- Website made by Seyhan Van Khan, linkedin.com/in/seyhankhan -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">

    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Seyhan Van Khan">
    <meta name="description" property="og:description" content="SHS Study Buddy Description">

    <title>{% block title %}{% endblock %} | Study Buddy - Sex Homework Society</title>
  <head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
